h1{
    color: blue;

}
li{
    color: #0895a8;
}

body{
    background: url(https://media.istockphoto.com/id/610041376/photo/beautiful-sunrise-over-the-sea.jpg?s=1024x1024&w=is&k=20&c=_psj45iIh4hwuli27tphEaBtHo6_eMM6DUhc5hTwsqY=);
}
/* div{
    background-color: red;
    border-color: blue;
    border-width: 5px;
    border-style: dotted;

}  */

div.seconddiv{
    color:red;
    border-style: dotted;
    border-color: yellow;
    border-width: thick;
}